.header
{
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
}
.logo
{
   width: 100px;
}
.nav-items > ul
{
   font-size: 24px;
   display: flex;
   list-style-type: none;
}

.nav-items > ul > li
{
   padding: 5px;
   margin: 10px;
}

.res-container 
{
   display: flex;
   flex-wrap: wrap;
}

.res-card
{
   border: 1px solid grey;
   width: 200px;
   margin: 10px;
   padding: 10px;
   box-shadow: 2px 2px 5px grey;
   border-radius: 5px;
   text-align: center;
   background-color: white;
}

.res-card :hover
{
   border: 1px solid black;
   cursor: pointer;
}


.res-logo
{
   width: 190px;
   margin: 5px;
}


.filter-btn
{
   margin: 10px ;
   cursor: pointer;
}

.shimmer-container
{
   display: flex;
   flex-wrap: wrap;
}

.shimmer-card
{
   background-color: #f6f7f8;
   background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
   background-repeat: no-repeat;
   background-size: 800px 104px;
   display: inline-block;
   position: relative;
   margin: 10px;
   width: 200px;
   height: 250px;
   border-radius: 5px; 
}

.login-btn
{
   padding: 5px 10px;
   font-size: 16px;
   cursor: pointer;
}  
.filter{
   display: flex;
   align-items: center;
}
