.header
{
   display: flex;
   justify-content: space-between;
   border: 1px solid black;
}
.logo
{
   width: 100px;
}
.nav-items > ul
{
   font-size: 24px;
   display: flex;
   list-style-type: none;
}

.nav-items > ul > li
{
   padding: 5px;
   margin: 10px;
}

.res-container 
{
   display: flex;
   flex-wrap: wrap;
}

.res-card
{
   border: 1px solid grey;
   width: 200px;
   margin: 10px;
   padding: 10px;
   box-shadow: 2px 2px 5px grey;
   border-radius: 5px;
   text-align: center;
   background-color: white;
}

.res-card :hover
{
   border: 1px solid black;
   cursor: pointer;
}


.res-logo
{
   width: 190px;
   margin: 5px;
}


.filter-btn
{
   margin: 10px ;
   cursor: pointer;
}
